<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.zy.dao.ChapterDao">

    <insert id="addChapter" parameterType="Chapter">
        insert into chapter
        (id, name, size, albumId, path, length, times)
        values
            (#{id}, #{name}, #{size}, #{albumId}, #{path}, #{length}, #{times})
    </insert>
</mapper>
